.card {
    border: 2px solid #A25A30;
    border-radius: 5px;
    padding: 10px 20px;
    width: 210px;
    text-align: center;
    background-color: #ffffff;
    color: #333;
    box-sizing: border-box;

    &:hover {
      transition: 0.5s;
      transform: translateY(-5px);
    }

    &__title {
      margin: 0;
      padding: 4px 0 8px;
    }
  
    &__buy {
      border-top: 2px solid #A25A30;
      padding-top: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__price {
      margin: 0;
    }

    &__button {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        cursor: pointer;
    }

    &__button:hover {
      transform: scale(1.2);
    }

    &__button-default {
      border: 2px solid #d3d3d3;
      background-color: transparent;
      background: url('../../public/img/svg/plus.svg') no-repeat center;
    }

    &__button-active {
      border: none;
      background: url('../../public/img/svg/active-button.svg') no-repeat center;
    }

    &__icon {
      padding-top: 3px;
    }
  }