.content {
  min-height: 500px;
  position: relative;

    &__cards {
      margin: 20px 70px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      z-index: 1;
    }

    &__fav-hidden {
      display: none;
    }

    &__fav-background {
      position: absolute;
      bottom: 20px;
      right: 0;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      margin: 0;
      margin-top: 10px;
    }

    &__img-order1 {
      position: absolute;
      right: 0;
      border-radius: 5px;
    }

    &__img-order2 {
      position: absolute;
      right: 0;
      bottom : 30px;
      border-radius: 5px;
    }
  }