.content {
    &__cards {
      margin: 20px 70px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      margin: 0;
    }
  }