.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    color: #333;

    &__block {
        position: absolute;
        top: 0;
        right: 0;
        width: 420px;
        height: 100%;
        // background-color: #476062;
        background: url("../../public/img/content/paper-texture.jpg") repeat;
        background-size: contain;
        padding: 30px;
    }

    &__full {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__list {
        overflow: auto;
        flex: 1;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #A25A30;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 15px;
    }

    &__title {
        margin: 0;
        padding-bottom: 15px;
    }

    &__button {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        cursor: pointer;
        border: 2px solid #A25A30;
    }

    &__button-delete {
        background: url(../../public/img/svg/delete.svg) no-repeat center;
    }

    &__button-add {
        background: url(../../public/img/svg/plus.svg) no-repeat center;
    }

    &__total {
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding-top: 15px;
        border-top: 2px solid #A25A30;
    }

    &__total-item {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        margin-bottom: 20px;
    }

    &__dashed {
        flex: 1;
        border-bottom: 1px dashed #222;
        position: relative;
        top: -4px;
    }

    &__total-button {
        position: relative;
        margin-bottom: 100px;
        opacity: 1;
        outline: 0;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        font-size: 17px;
        line-height: 18px;
        border: none;
        box-sizing: border-box;
        background-color: transparent;
        cursor: pointer;
        
        &:hover{
            &:after{
              opacity: 1;
              transform: translateY(0) rotateX(0);
            }
            
            &:before{
              opacity: 0;
              transform: translateY(50%) rotateX(90deg);
            }
          }

          &:after{
            top: 0;
            left: 0;
            opacity: 0;
            color: #f2f2f2;
            display: block;
            width: 385px;
            transition: 0.5s;
            padding: 15px;
            position: absolute;
            background: #293439;
            border: 2px solid #A25A30;
            content: "Заказать быстрее";
            transform: translateY(-50%) rotateX(90deg);
            border-radius: 5px;
          }

          &:before{
            top: 0;
            left: 0;
            opacity: 1;
            color: #ffffff;
            width: 385px;
            display: block;
            padding: 15px;
            transition: 0.5s;
            position: relative;
            background: #A25A30;
            content: "Заказать";
            transform: translateY(0) rotateX(0);
            border-radius: 5px;
          }
        }
    

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
    }
}