.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    color: #333;

    &__block {
        position: absolute;
        top: 0;
        right: 0;
        width: 420px;
        height: 100%;
        // background-color: #476062;
        background: url("../../public/img/content/paper-texture.jpg") repeat;
        background-size: contain;
        padding: 30px;
    }

    &__full {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__list {
        overflow: auto;
        flex: 1;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #A25A30;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 15px;
    }

    &__title {
        margin: 0;
        padding-bottom: 15px;
    }

    &__button {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        cursor: pointer;
        border: 2px solid #d3d3d3;
    }

    &__button-delete {
        background: url(../../public/img/svg/delete.svg) no-repeat center;
    }

    &__button-add {
        background: url(../../public/img/svg/plus.svg) no-repeat center;
    }

    &__total {
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding-top: 15px;
        border-top: 2px solid #A25A30;
    }

    &__total-item {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        margin-bottom: 20px;
    }

    &__dashed {
        flex: 1;
        border-bottom: 1px dashed #222;
        position: relative;
        top: -4px;
    }

    &__total-button {
        position: relative;
        margin-bottom: 100px;

        &:hover {
            .drawer__arrow {
                transform: translateX(5px);
            }
        }
    }

    &__arrow {
        position:absolute;
        top: 15px;
        right: 25px;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
    }
}