.footer {
    padding: 20px;
    border-top: 2px solid #A25A30;

    &__title {
        margin: 0;
        padding-bottom: 15px;
        text-align: center;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    &__description {
        margin: 0;
        padding-bottom: 10px;
        color: #A25A30;
    }

    &__avatar {
        border: 2px solid #A25A30;
        border-radius: 5px;
        margin-right: 10px;
    }

    &__wrapper {
        display: flex;
    }

    &__social-link {
        text-decoration: none;
        color: #f2f2f2;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 5px 35px;
        border: 2px solid #A25A30;
        border-radius: 5px;
    }

    &__social-link:focus,
    &__social-link:hover {
        color: #A25A30;
        .footer__github {
            fill: #A25A30;
        }
    }

    &__portfolio {
        margin-bottom: 12px;
        margin-top: 7px;
    }

    &__github {
        padding-left: 10px;
    }

    &__social {
        margin: 0;
    }

    &__mail {
        margin-bottom: 12px;
    }
}