body {
  margin: 0;
  font-family: system-ui;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A25A30;
}

.wrapper {
  background-color: #293439;
  width: 1080px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  padding: 15px;
  background-color: #A25A30;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;

  &:hover {
    background-color: #A25A30;
  }
}