.header {
    display: flex;
    justify-content: space-between;
  
    &__right {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: 100px 120px 50px;
      gap: 5px;
    }
  
    &__title {
      padding: 0;
    }
  
    &__name {
      margin: 0;
    }

    &__cart {
      cursor: pointer;
    }
  }